/*General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Reset margin, padding, and set box-sizing for all elements */
}

html {
    scroll-behavior: smooth;
    scroll-snap-align: initial;
}

body {
    font-family: 'Pirata One', cursive;
    /* Change the font to Pirata One */
    background: linear-gradient(to bottom, #fff6e8, #ffcf86);
    /* Adjust the colors as needed */
    color: #000000;
    line-height: 30px;
    margin: 0;
    /* Set font, background color, and center text for the body */
}

.global {
    min-height: 100vh;
    /* Set minimum width, center content, set minimum height, background color, and padding for the global container */
}

a {
    text-decoration: none;
    color: #ffffff;
    /* Remove text decoration and set text color for links */
}

a:hover {
    color: #000000;
    /* Change text color on hover for links */
}

h1 {
    text-align: center;
}

/*Header*/

/*Navigation*/


.conteneur__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    position: fixed;
    width: 100%;
    opacity: 0;
    transform: translateX(20px);
    transition: transform 1s, opacity 1s;
    height: 75px;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 0 0 20px 20px;
    border: white 1px solid;
    flex-wrap: wrap;
}

#bouton {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

#bouton:hover {
    transform: scale(1.1);
}

#chk-bouton {
    display: none;
}

#chk-bouton:checked+.conteneur__menu {
    /* display: flex; */
    opacity: 1;
    transform: translateX(0);
}

/*Accueil*/
.accueil__global {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../img/bleach_hero.jpg");
    background-size: cover;
    /* Assure que l'image couvre toute la section */
    background-position: center;
    /* Centre l'image */
    background-repeat: no-repeat;
    /* Empêche l'image de se répéter */
    height: 100vh;
    /* Assure que la section prend toute la hauteur de la fenêtre */

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.accueil__hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    font-size: 2rem;
    line-height: 70px;
    text-align: justify;

}

.accueil__hero h1 {
    font-size: 3rem;
    line-height: 70px;
    text-align: justify;
}

.accueil__hero p {
    width: 100%;
    /* Ensure paragraphs take full width */
    max-width: 85%;
    /* Limit the width on larger screens */
    font-size: 20px;
    line-height: 30px;
    display: flex;
    text-align: justify;
}

.accueil__hero :last-child {
    width: 50%;
    font-size: 12px;
    line-height: 30px;
}

/*Inscription*/

#Inscription {
    background-image: url("../img/bleach_inscription.jpeg");
    background-repeat: no-repeat;
    /* background-position: 50%;
    background-size: 90%; */
    height: 100vh;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Inscription div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
    width: 400px;
    background-color: rgb(20, 20, 20);
    border-radius: 25px;
    box-shadow: 1px 10px 10px 1px #6E6E6E;
}

#Inscription h2 {
    background-color: rgb(231, 134, 15);
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
}

input {
    border: solid lightgray 2px;
}

input:focus {
    /*Effet lors d'un click dans l'input*/
    border-style: groove;
    background-color: lightgray;
}

#Inscription label {
    color: white;
}

#Inscription label:nth-of-type(4)>label {
    /*éléments dans sexe*/
    border: 1px solid lightgray;
    padding: 4px 8px;
}

#submit {
    position: relative;
    left: -90px;
    bottom: -20px;

}

#reset {
    position: relative;
    right: -90px;
    bottom: 23px;
}

#reset,
#submit {
    /*styles communs des boutons*/
    width: 100px;
    height: 33px;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    transition: all 0.5s;
    border-radius: 5px;
    z-index: 1;
    /*Ne fonctionne pas*/
}

#submit:hover,
#reset:hover {
    /*transition des boutons*/
    background-color: rgb(255, 41, 51);
    border: 0px;
    color: white;
    border-radius: 1px;
}


/*Tableau*/

table {
    width: 100%;
    max-width: 600px;
    /* Ensure the table doesn't get too wide */
    background-color: #212121;
    /* Fond noir/dark */
    color: #FFF;
    /* Texte blanc pour contraster */
    border-collapse: collapse;
    margin: 20px auto;
    /* Center the table */
    border: #FF6F00 3px solid;
    font-size: clamp(0.625rem, 0.4107rem + 0.8571vw, 1rem);
    border-radius: 10px;
    /* Add rounded corners */
    overflow: hidden;
    /* Ensure rounded corners are visible */
}

/* En-tête avec un fond sombre et une bordure soulignant l'importance */
caption {
    font-size: 1.8rem;
    font-family: 'BleachFont', sans-serif;
    color: #FF6F00;
    /* Accent couleur (référence aux pouvoirs spirituels) */
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    background: #000;
    border-bottom: 2px solid #FF6F00;
    border-radius: 10px 10px 0 0;
    font-size: clamp(0.625rem, 0.4107rem + 0.8571vw, 1rem);
}

/* En-tête des jours de la semaine */
thead th {
    background-color: #000;
    color: #FF6F00;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}

/* Bordures et mise en valeur des cellules */
td,
th {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
    font-size: clamp(0.625rem, 0.4107rem + 0.8571vw, 1rem);
}

/* Celles qui sont "importantes" ou avec des événements spéciaux */
.m-1w1,
.diagonal {
    background-color: #FF6F00;
    /* Accent color pour marquer l'importance */
    color: white;
    font-weight: normal;
}

/* Disposition verticale de certaines cellules pour imiter l'effet "impact" */
.vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 1.1rem;
    color: #FF6F00;
}

/* Ajout d'un effet de lumière ou d'ombre pour les éléments importants */
td.rowspan,
th.rowspan {
    background-color: rgba(255, 111, 0, 0.3);
    /* Effet de lumière spirituelle */
    box-shadow: 0 0 10px rgba(255, 111, 0, 0.7);
    /* Ombre lumineuse */
}

/* Ajouter des styles pour les événements spéciaux */
.m-1w1 {
    background-color: #FF6F00;
    /* Orange pour mettre en valeur */
}

.sexe-label {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #FF6F00;
}

th {
    background-color: #333;
    /* Darker background for table headers */
}

tr:hover {
    background-color: #444;
    /* Highlight row on hover */
}

/*Articles*/


.global__articles {
    /*conteneur*/
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
}

.articles__flex {
    /*flexbox*/
    border: #000 3px solid;
    flex-basis: 45%;
    /* Adjusted to make articles smaller */
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, background 0.3s ease;
    margin-bottom: 5%;
    font-size: 1rem;
    line-height: 25px;
}

.articles__img {
    /*img*/
    width: 30%;
    height: auto;
    border-radius: 20px;
}

.articles__flex:hover {
    transform: scale(1.05);
    background: rgba(255, 111, 0, 0.2);
}

/* 2e partie articles */

.article {
    display: flex;
    justify-content: space-between;
    border: #000 3px solid;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, background 0.3s ease;
    margin: 2%;
    flex-wrap: wrap; /* Ensure the content wraps on smaller screens */
}

.article p {
    font-size: 1.5rem;
    line-height: 1.5;
    width: 100%; /* Ensure paragraphs take full width */
}

.article:hover {
    transform: scale(1.02);
    background: rgba(255, 111, 0, 0.2);
}

.article figure {
    flex: 1 1 300px; /* Increase flex-basis to set the initial size */
    width: 100%;
    max-width: 300px; /* Increase the maximum width for the figure */
}

.article figure img {
    width: 100%; /* Make the image take the full width of its container */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 20px;
}

.article div {
    flex: 4 1 700px; /* Increase flex-basis to make the div take more width */
    padding: 1em;
    line-height: 1.6;
    width: 100%; /* Ensure the div takes full width on smaller screens */
    max-width: 900px; /* Increase the maximum width for the div */
}

.article:nth-of-type(odd) figure {
    order: 9;
}



/*Galerie*/

.global__galerie {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Crée quatre colonnes de largeur égale */
    gap: 20px;
    padding: 20px;
    width: 98%;
    margin: 0 auto;
    border: #FF6F00 3px solid;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);

}

.galerie__img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    /* Change cursor to pointer to indicate clickability */
    outline: none;
    /* Remove default focus outline */
}

.galerie__img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.galerie__img:focus {
    transform: scale(1.5);
    /* Scale up the image */
    z-index: 1000;
    /* Bring the image to the front */
    position: relative;
    /* Ensure it stays above other elements */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

/* Make images focusable without modifying HTML */
.galerie__img {
    display: inline-block;
}

.galerie__img:focus-visible {
    outline: none;
    /* Remove default focus outline */
}

.galerie__conteneur,
.galerie__column {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    /* Change cursor to pointer to indicate clickability */
    outline: none;
    /* Remove default focus outline */
}

.galerie__conteneur:hover,
.galerie__column:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.galerie__conteneur:focus,
.galerie__column:focus {
    transform: scale(1.5);
    /* Scale up the image */
    z-index: 1000;
    /* Bring the image to the front */
    position: relative;
    /* Ensure it stays above other elements */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

/* Make images focusable without modifying HTML */
.galerie__conteneur,
.galerie__column {
    display: inline-block;
    /* tabindex: 0; Make the element focusable */
}

.galerie__conteneur:focus-visible,
.galerie__column:focus-visible {
    outline: none;
    /* Remove default focus outline */
}

/* Video */
.global__video {
    height: 100vh;
    padding: 20px;
    margin-bottom: 200px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.global__video h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.video-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
    grid-template-rows: repeat(2, 1fr);
    /* 2 rows */
    gap: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    background: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
}

/*Pied*/

.global__footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.adresse p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.description p {
    font-size: .8rem;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h2 {
    font-size: 1.5rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section a img {
    width: 24px;
    height: 24px;
    margin: 5px;
}

.footer-section a {
    font-size: 0.9rem;
    color: #FF6F00;
    text-decoration: underline;
}